.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/

themes/next/.all-contributorsrc
themes/next/.bowerrc
themes/next/.editorconfig
themes/next/.eslintrc.json
themes/next/.gitattributes
themes/next/.github/
themes/next/.gitignore
themes/next/.stylintrc
themes/next/.travis.yml
themes/next/LICENSE.md
themes/next/README.md
themes/next/bower.json
themes/next/crowdin.yml
themes/next/docs/
themes/next/gulpfile.coffee
themes/next/languages/
themes/next/layout/
themes/next/package.json
themes/next/scripts/
themes/next/source/
themes/next/test/